@font-face {
    font-family: "Cyberpunk";
    src: url("../fonts/cyberpunk.ttf");
}

@font-face {
    font-family: "CyberpunkNumber";
    src: url("../fonts/cyberpunk-number.ttf");
}

@font-face {
    font-family: "BlenderProBold";
    src: url("../fonts/blender-pro-bold.otf");
}

@font-face {
    font-family: "BlenderProBook";
    src: url("../fonts/blender-pro-book.otf");
}

:root {
    --main-bg-color: #f4ed00;
    --main-secondary-color: #000000;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-bg-form: #ffffffba;
}

body {
    margin: 0;
    padding: 0;
    font-family: BlenderProBook, sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
}

.bold {
    font-weight: bold;
}

.container {
    margin: 0 20px;
}

h1 {
    text-align: center;
    font-family: Cyberpunk, sans-serif;
    font-size: 48px;
}

h1 > span {
    font-family: CyberpunkNumber, sans-serif;
    font-size: 36px;
}
a {
    text-decoration: none;
}
a:visited {
   color: var(--main-black);
}

img {
    width: 100%;
    border-radius: 25px;
}

.desciption {
    background: var(--main-bg-form);
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}
.btn-content {
    text-align: center;
}

.btn {
    background-color: var(--main-secondary-color);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    transition-duration: 0.5s;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, .2);
}

.btn > a {
    color: var(--main-white);
    text-decoration: none;
}

.btn > a:hover {
    color: var(--main-white);
}

.btn > a:visited {
    color: var(--main-white);
}

/*newsletter*/
#form {
    margin: 0 auto;
    display: block;
    background: var(--main-bg-form);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

#form > div {
    display: flex;
    margin: 10px 0;
}

.message {
    display: block;
}

#form label {
    flex: 1;
}

@media (min-width: 768px) {
    .container {
        margin: 20px 100px 30px
    }

    /*newsletter*/
    .form-information {
        text-align: center;
    }
    #form {
        width: 30%;
    }

    #form > div {
        justify-content: center;
    }

    #form label {
        flex: 1 0 120px;
        max-width: 150px;
    }

}
