<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    {% block body %}
        <h1>{% block title %}{% endblock %}</h1>
        <p></p>
    {% endblock %}
</div>
</body>
</html>
