{% extends 'emails/baseEmails.html.twig' %}
{% block body %}
    {% block title %}Makigai Maimai p126{% endblock %}
    <img class="img-cover" src="{{ absolute_url('assets/images/maimai-cover.jpg') }}"
         alt="Voiture Makigai Maimai p126 en rouge ">
    <p>Bonjour {{ name }} merci de vous avoir inscrit à la newsletter</p>
    <p>Vous serrez avertie de la sortie de la <span class="bold">Makigai Maimai p126</span> prochainement</p>
{% endblock %}
