<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
